.logo{
  margin-left: 10px; 
  background-color: rgb(88, 218, 131); 
  padding: 5px; 
  border-radius: 10px 20px 10px 20px; 
  color: white;
}

.preload{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ghost{
  display: none;
}

.bordert{
  border-radius: 20px;
}
.borderc{
  border-radius: 0px 0px 20px 20px;
}

.borderl{
  border-radius: 20px 0px 0px 20px;
}
.borderr{
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 768px) {
  .borderl{
    border-radius: 20px 20px 0px 0px;
  }
  .borderr{
    border-radius: 0px 0px 20px 20px;
  }
}

#completely{
  transition: .5s;
  fill: rgb(21, 197, 21);
}

#completely:hover{
  transition: .5s;
  fill: rgb(21, 103, 197);
}

#partly{
  transition: .5s;
  fill: rgb(0, 15, 153);
}

#partly:hover{
  transition: .5s;
  fill: rgb(197, 71, 21);
}

#pending{
  transition: .5s;
  fill: rgb(6, 165, 165);
}

#pending:hover{
  transition: .5s;
  fill: rgb(162, 0, 255);
}

#not-match{
  transition: .5s;
  fill: rgb(180, 2, 2);
}

#not-match:hover{
  transition: .5s;
  fill: rgb(234, 0, 255);
}