.logo{
  margin-left: 10px; 
  background-color: rgb(88, 218, 131); 
  padding: 5px; 
  border-radius: 10px 20px 10px 20px; 
  color: white;
}
.bordert{
  border-radius: 20px;
}
.borderc{
  border-radius: 0px 0px 20px 20px;
}

.borderl{
  border-radius: 20px 0px 0px 20px;
}
.borderr{
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 768px) {
  .borderl{
    border-radius: 20px 20px 0px 0px;
  }
  .borderr{
    border-radius: 0px 0px 20px 20px;
  }
}