<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Админские утилиты</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <div class="container text-center">
            <div class="row">
                <a class="btn btn-light" href="/admin/addcountry">Добавить государство</a><br>
                <a class="btn btn-light" href="/admin/edit-country-map">Изменить территорию государства</a>
                <a class="btn btn-light" href="/admin/approve-country">Подтвердить государство</a>
                <a class="btn btn-light" href="/admin/delete-country">Отклонить заявку государства</a>
                <a class="btn btn-light" href="/admin/bind">Автозаполнение</a>
            </div>
        </div>
    </body>
</html>