<!DOCTYPE html>
<% 
    let options = [
    {
        title:"Пароль",
        help:"Пароль от админки",
        id:"pass",
        type: "sec"
    }
    ]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Автозаполнение Админ</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <script src="/public/js/autobind.js"></script> 
        <script>
            window.addEventListener("load",()=>{
                document.getElementById("save").onclick = ()=>{
                    let pass = document.getElementById("pass");
                    localStorage.setItem("pass", pass.value);
                    localStorage.setItem("isAdmin", true);
                }
            });
        </script>

        <div class="container">
            <%- include("../components/form", {options}) %> 
            <div class="row m-5">
                <input id="save" type="button" value="Сохранить" class="btn btn-dark">    
            </div>
        </div>
    </body>
</html>