<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Клик-войны - <%= war.name %> </title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container">
            
        </div>
    </body>
</html>