<!DOCTYPE html>
<% 
let options = [
    {
        title:"Токен валюты",
        id:"token",
        required:true,
    },
    {
        title:"Цена",
        id:"amount",
        type:"number",
        required:true,
    }
]
%>

<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <meta name="description" content="Хочешь изменить курс своей валюты тогда тебе сюда"/>
        <title>Изменить курс валюты</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <div class="container">
            <form action="/api/currency/update" method="POST">
                <%- include("../components/form", {options}) %> 
                <div class="row m-5">
                    <input type="submit" value="Изменить" id="send" class="btn btn-dark">
                </div>
            </form>
        </div>
    </body>
</html>