<!DOCTYPE html>
<% 
let options = [
    {
        title:"Пароль админа",
        id:"pass",
        type:"sec"
    },
    {
        title:"id страны",
        help:"Использовать айди со страницы /pending-countries",
        id:"idc"
    }
]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Отклонить заявку государства</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <div class="container">
            <form action="/deny-country" method="post">
                <%- include("../components/form", {options}) %> 
                <div class="row m-5">
                    <input type="submit" value="Отклонить заявку" class="btn btn-danger">    
                </div>
            </form>
        </div>
    </body>
</html>