<!DOCTYPE html>
<% 
let options = [
    {
        title:"Пароль админа",
        id:"pass",
        type:"sec"
    },
    {
        title:"id страны",
        help:"Использовать айди со страницы /pending-countries",
        id:"idc"
    },
    {
        title:"Массив точек",
        help:"Рисуем в geojson editor и вставляем массив сюда",
        id:"points"
    }
]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Отклонить заявку государства</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <script src="/public/js/autobind.js"></script> 
        <script>
            const parse = new URLSearchParams(window.location.search);
            let idc = parse.get('idc');
            window.addEventListener("load",()=>{
                document.getElementById("idc").value = idc;
            });
        </script>
        <div class="container">
            <form action="/edit-coords" method="post">
                <%- include("../components/form", {options}) %> 
                <div class="row m-5">
                    <input type="submit" value="Отклонить заявку" class="btn btn-dark">    
                </div>
            </form>
        </div>
    </body>
</html>