<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Стандарт ERTH2</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container" style="background-color: #f8f9fa;">
            <div class="row">
                <h1 class="text-center">ERTH2 - стандарт виртуальных государств</h1>
                <h6 class="text-center">Государств соответствует стандарту - <%=count%></h6>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                    <img class="img-responsive" style="width: 80%;" src="https://i.imgur.com/i0yls6d.png" alt="">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <h2>
                            Для чего стандарт?
                        </h2>
                        <p>
                            В виртуальном мире каждое виртуальное государство не похоже на друг друга, некоторые скатываются в полную 
                            ролевую игру, некоторые не могут определить структуру государства. 
                            Стандарт ERTH2 должен исправить это недоразумение.
                        </p>
                    </div>
                    <div class="row">
                        <h2>
                            Основные понятия
                        </h2>
                        <p>
                            <b>ERTH2 прежде всего запрещает впадать в безумство</b>, то есть основу виртуального государства строить на 
                            ролевой игре. Стандарт считает что виртуальные государства прежде 
                            всего основываются на реальных государствах.  Виртуальное государство отличается от реального, только тем, что 
                            его не признают на мировой арене.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Спецификация</h1>
                    <div class="row">
                        <div class="col">
                            <h2>
                                1. Структура виртуального государства, построенного на стандарте ERTH2
                            </h2>
                            <div class="row bordert m-1" style="background-color: rgb(221, 221, 221);">
                                <div class="col-md-6 col-sm-12">
                                    <h4>
                                        1. Признаки государства
                                    </h4>
                                    <p>
                                        Стандарт ERTH2 признает признаки написанные в конвенции монтевидео.
                                        <ol>
                                            <li>Постоянное население</li>
                                            <li>Определенная <a href="#terra">территория</a>(желательный параметр, но не обязательный)</li>
                                            <li>Собственное правительство</li>
                                            <li>способность к вступлению в отношения с другими государствами</li>
                                        </ol>
                                        Признания другими государствами не требуется<br>
                                        Так же ERTH2 добавляет некоторые признаки
                                        <ol>
                                            <li>Определенный тип правления</li>
                                            <li>Публичная власть</li>
                                        </ol>
                                    </p>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <h4>
                                        2. Государственные символы
                                    </h4>
                                    <p>
                                        Обязательным символом является флаг. Остальные атрибуты(герб, гимн) опциональны
                                    </p>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <h4>
                                        3. Правдивая статистика
                                    </h4>
                                    <p>
                                        В статистике государства должна присутствовать только правда. 
                                        Например: нельзя врать, что население вашего государства 
                                        200млрд человек, когда на самом деле о вас знает 
                                        куда меньшее количество людей.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>
                                2. Система территорий
                            </h2>
                            <div class="row bordert m-1" style="background-color: rgb(221, 221, 221);">
                                <a name="terra"></a>
                                <div class="col-12">
                                    <h4>
                                        1. Территории в виртуальных государствах?
                                    </h4>
                                        <h5>Что можно подразумевать под территорией виртуального государства?</h5>
                                        <span>Территория может быть чем угодно(от территорий в среде MOVC(желательно), до размера занятого дискового пространства)</span>
                                        <span>ERTH2 считает, что территория необязательный признак государства, и не заставляет использовать его.</span>
                                        <h5>Для чего территории виртуальному государству?</h5>
                                        <span>
                                            По сути, виртуальному государству не нужны территории. ERTH2 считает, что территории(в среде MOVC) нужны только тем 
                                            виртуальным государствам, у которых есть реальные постройки, здания, места проведения облагораживания 
                                            местности и т.д.
                                        </span>
                                </div>
                                <div class="col-md col-sm-12">
                                    <h4>
                                        2. MOVC - концепт
                                    </h4>
                                    <p>
                                        <h5>MOVC карта пока в разработке</h5>
                                        MOVC является <b>виртуальной картой</b> и не отображает действительность. <b>Все государства участвующие
                                        в проекте MOVC не претендуют на реальную территорию.</b>
                                        Карта должна отображать текущее расположение стран. Нельзя присвоить себе любые территории,
                                        только свободные. Нельзя брать сразу гигантское количество территорий, только те которые находятся 
                                        в радиусе 3 км от вас.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>