<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Стандарт ERTH2</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container" style="background-color: #f8f9fa;">
            <div class="row">
                <h1 class="text-center">ERTH2 - станднарт виртуальных государств</h1>
            </div>
            <div class="row">
                <div class="col">
                    <img style="width: 80%;" src="https://i.imgur.com/i0yls6d.png" alt="">
                </div>
                <div class="col">
                    <h2>
                        Для чего стандарт?
                    </h2>
                    <p>
                        В виртуальном мире каждое виртуальное государство не похоже на друг друга. Стандарт ERTH2 должен исправить
                    </p>
                </div>
            </div>
        </div>
</html>