<!DOCTYPE html>
<% 
let options = [
    {
        title:"id страны*",
        id:"idc",
        required:true,
        type:"many",
        types:arr
    }
]
%>

<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <meta name="description" content="Хочешь отредактировать свою страну тогда тебе сюда."/>
        <title>Редактировать территорию страны</title>
    </head>
    <body>
        <%- include("../components/menu") %>
        <div class="container">
            <form action="/geojs" method="GET">
                <%- include("../components/form", {options}) %> 
                <div class="row m-5">
                    <input type="submit" value="Отправить" id="send" class="btn btn-dark">
                </div>
            </form>
        </div>
    </body>
</html>