
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <script src="/public/phaser.min.js"></script> 
        <script src="/public/js/map.js"></script> 

        <title>Карта виртуальных государств</title>
    </head>
    <body>
        <style>
            body {
                padding: 0px;
                margin: 0px;
                background: black;
            }
        </style>
        <%- include("../components/menu") %> 
    </body>
</html>