
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <script src="/public/js/map.js"></script> 
        <title>Карта виртуальных государств</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <iframe id="map" src="https://www.google.com/maps/d/u/0/embed?mid=1EdDBf30z9t1TOS3D6yS29iBUp78f0uJo"></iframe>
    </body>
</html>