
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <script type="text/javascript" src="/public/js/paper/paper-full.min.js"></script>
        <script type="text/javascript" src="/public/js/map.js"></script> 
        <title>Карта виртуальных государств</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <canvas id="map-canvas" resize></canvas>
    </body>
</html>