
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <script src="/public/js/map.js"></script> 
        <title>Карта виртуальных государств</title>
    </head>
    <body>
        <%-include("../components/menu") %> 
        <%-include("../components/leaflet")%>
        <div id="map"></div>
    </body>
</html>