<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Страница не найдена</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="fluid">
            <div class="row"><br></div>
            <div class="row justify-content-center text-center">
                <div class="col"></div>
                    <div class="col text-light">
                        <div style="border-radius: 10px 10px 0px 0px; background-color: rgb(88, 218, 131); ">MOVC</div>
                        <div class="bg-danger">404 - Страница не найдена</div>
                        <div class="bg-info" style="border-radius: 0px 0px 10px 10px;">Перейдите на главную страницу</div>
                    </div>
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>