<!DOCTYPE html>
<% 
let options = [
    {
        title:"id страны*",
        help:"Можно использовать английские буквы и тире(-), напр: banana-republic",
        id:"idc"
    },
    {
        title:"Имя страны*",
        id:"name",
        help:"Например Банановая республика"
    },
    {
        title:"Ссылка на фото флага страны*",
        id:"img",
        help:"Желательно фото с сайта imgur"
    },
    {
        title:"Тип правления*",
        id:"type",
        help:"Например монархия"
    },
    {
        title:"Описание*",
        id:"description",
        help:`
        <script>
            function bold(){
                document.getElementById("description").value = document.getElementById("description").value + "bold()"
            }
            function url(){
                document.getElementById("description").value = document.getElementById("description").value + "url()"
            }
            function texturl(){
                document.getElementById("description").value = document.getElementById("description").value + "trl(,)"
            }
            function imgs(){
                document.getElementById("description").value = document.getElementById("description").value + "img()"
            }
            function custom(){
                document.getElementById("description").value = document.getElementById("description").value + "custom(,)"
            }
            function audio(){
                document.getElementById("description").value = document.getElementById("description").value + "audio()"
            }
        </script>
        <div class="row text-center">
            <div class="col"><input type="button" onclick=bold() value="Жирный шрифт" class="btn btn-outline-dark btn-sm"></div>
            <div class="col"><input type="button" onclick=url() value="Ссылка" class="btn btn-outline-dark btn-sm"></div>
            <div class="col"><input type="button" onclick=texturl() value="Текстовая ссылка" class="btn btn-outline-dark btn-sm"></div>
            <div class="col"><input type="button" onclick=imgs() value="Изображение" class="btn btn-outline-dark btn-sm"></div>
            <div class="col"><input type="button" onclick=audio() value="Аудио" class="btn btn-outline-dark btn-sm"></div>
            <div class="col"><input type="button" onclick=custom() value="Доп. информация" class="btn btn-outline-dark btn-sm"></div>
        </div>
        Например Здесь все едят бананы
        `,
        type:"area"
    },
    {
        title:"Правитель*",
        id:"owner",
        help:"Например Бананов Бананоед"
    },
    {
        title:"Контакт правителя*",
        id:"contact",
        help:"Например https://vk.com/example"
    },
    {
        title:"Дата основания*",
        id:"date",
        help:"Например 22.02.2021"
    },
    {
        title:"Сайт",
        id:"site",
        help:"Ссылка"
    },
    {
        title:"Страница в вк",
        id:"vk",
        help:"Ссылка"
    }
]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Отправить заявку на добавление в индексирование государств</title>
    </head>
    <body>
        <script src="/public/js/prevent.js"></script>
        <%- include("../components/menu") %>
        <div class="container">
            <form action="/addcountry" method="post">
                <%- include("../components/form", {options}) %> 
                <div class="row m-5">
                    <input formaction="/country-preview" formtarget="_blank" type="submit" value="Предпросмотр" class="btn btn-primary mb-1">
                    <input type="submit" value="Отправить" class="btn btn-dark">
                </div>
            </form>
        </div>
    </body>
</html>