<!DOCTYPE html>
<% 
let options = [
    {
        title:"Пароль админа*",
        id:"pass",
        type:"sec"
    },
    {
        title:"id валюты",
        id:"idc"
    }
]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <title>Получить токен валюты</title>
    </head>
    <body>
        <script src="/public/js/prevent.js"></script>
        <script src="/public/js/autobind.js"></script> 
        <%- include("../components/menu") %>
        <div class="container">
                <%- include("../components/form", {options}) %> 
                <div class="row m-5">
                    <input type="button" value="Отправить" id="send" class="btn btn-dark">
                </div>
                <div class="row m-5">
                    <p id="token"></p>
                </div>
        </div>
        <script>
            document.getElementById("send").onclick = async ()=>{
                let result = await fetch("/api/currency/token", {
                    method:"POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body:JSON.stringify({
                        pass:document.getElementById("pass").value,
                        valute:document.getElementById("idc").value
                    })
                });
                console.log(result);
                result = await result.text();
                console.log(result);
                document.getElementById("token").innerText = result;
            }
        </script>
    </body>
</html>